
.background{
    background-color: black;
}

.background2{
    background-color: #ffefff;
}

.headingcontainer{
    font-size: 7em;
    color: white;
    text-align: center;
    position: relative; top:2em
    
}

.title2 > h1 {
    background-color: #eafff4;
    font-size: 7em;
    color: black ;
    text-align: center;
    position: relative; top:0.1em
    
}

.title2 > p{
    color: black;
    font-size: 4em;
    text-align: center;
    position: relative; top: 10em;
}



.carousel2 {
    width:50em;
    height:10em;
    margin: auto;
    position: relative; top:18em
}

.carousel3 {
    width:50em;
    height:10em;
    margin: auto;
    position: relative; top:28em
}



.carousel-item {
    background-size: cover;
  height: 110vh;
  display: relative;
}

#MonacoPic {
    background-image: url(../AssetsForF1/Assets/monacoPic.jpg);
}

#JeddahNight {
    background-image: url(../AssetsForF1/Assets/jeddahNightTime.jpg);
    background-size: cover;
    display: relative;
}
#JeddahSparks {
    background-image: url(../AssetsForF1/Assets/JeddahSparks.jpg);
    background-size: cover;
}
#JeddahLatifi {
    background-image: url(../AssetsForF1/Assets/JeddahLatifi.jpg);
    background-size: cover;
}
#ImolaSenna {
background-image: url(../AssetsForF1/Assets/ImolaSenna.jpg);
background-size: cover;
}
#ImolaLayout {
    background-image: url(../AssetsForF1/Assets/imolaLayout.jpg);
    background-size: cover;
}
#ImolaVerstappen {
    background-image: url(../AssetsForF1/Assets/imolaVerstappen.jpg);
    background-size: cover;
}
#SilverstoneFans {
    background-image: url(../AssetsForF1/Assets/SilverstoneFans.jpg);
    background-size: cover;
}
#SilverstoneLewisHam {
    background-image: url(../AssetsForF1/Assets/SilverstoneLewisHam.jpg);
    background-size: cover;
}
#SilverstonePoster {
    background-image: url(../AssetsForF1/Assets/SilverstonePoster.jpg);
    background-size: contain;
}
#RedBullStatue {
    background-image: url(../AssetsForF1/Assets/RedBullStatue.jpg);
}
#RedBullFans {
    background-image: url(../AssetsForF1/Assets/RedBullInAustria.jpeg);
}
#RedBullView {
    background-image: url(../AssetsForF1/Assets/RedBullView.jpeg);
}
#SpaClassic {
    background-image: url(../AssetsForF1/Assets/SpaOldSchool.webp);
}
#SpaLayout {
    background-image: url(../AssetsForF1/Assets/SpaLayout.jpg);
}
#SpaSpeed {
    background-image: url(../AssetsForF1/Assets/SpaSpeed.jpeg);
}
#MonzaCheering {
    background-image: url(../AssetsForF1/Assets/MonzaCheering.jpg);
}
#MonzaFerrari {
    background-image: url(../AssetsForF1/Assets/MonzaFerarri.jpg);
}
#MonzaPoster {
    background-image: url(../AssetsForF1/Assets/MonzaPoster.jpg);
}
#SuzukaLayout {
    background-repeat: no-repeat;
    background-image: url(../AssetsForF1/Assets/SuzukaLayout.jpg);
    background-size: contain;
    background-position: center;

}
#SuzukaProstSennaFirst {
    background-image: url(../AssetsForF1/Assets/SuzukaCollision.webp);
}
#SuzukaProstSenna {
    background-image: url(../AssetsForF1/Assets/SuzukaProstSenna.jpg);
}
#YasMarinaCelebration {
    background-image: url(../AssetsForF1/Assets/YasMarinaHighQual.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
#YasMarinaVerstappen {
    background-image: url(../AssetsForF1/Assets/YasMarinaNewVerstappen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#YasMarinaMerc {
    background-image: url(../AssetsForF1/Assets/YasMarinaCoolerMercedes.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
#NurburgringPoster {
    background-image: url(../AssetsForF1/Assets/NurburgringPoster.webp);
}
#NurburgringShumacher {
    background-image: url(../AssetsForF1/Assets/NurburgringShumacher.jpg);
}
#NurburgringFerarri {
    background-image: url(../AssetsForF1/Assets/NurburgringFerarri.jpg);
}
#BakuCastle {
    background-image: url(../AssetsForF1/Assets/BakuCastle.jpg);
}
#BakuView {
    background-image: url(../AssetsForF1/Assets/bakuView.jpg);
}
#BakuLayout {
    background-image: url(../AssetsForF1/Assets/bakuLayout.webp);
}